<p>movies-display works!</p>

<div class="row">
    <div class="col-sm-4">
        <img src="../../assets/images/movie1.jpg" alt="movie 1">
        <br>
        <button>Write Review/Rating</button>
        <br>
        <button (click)='hit1()'>View Review/Rating</button>
        <p>Rating : {{tempAvg1}}</p>
        <p>Review : {{tempList1}}</p>
    </div>
    <div class="col-sm-4">
        <img src="../../assets/images/movie2.jpg" alt="movie 2">
        <br>
        <button>Write Review/Rating</button>
        <br>
        <button (click)='hit2()'>View Review/Rating</button>
        <p>Rating : {{tempAvg2}}</p>
        <p>Review : {{tempList2}}</p>
    </div>
    <div class="col-sm-4">
        <img src="../../assets/images/movie3.jpg" alt="movie 3">
        <br>
        <button>Write Review/Rating</button>
        <br>
        <button (click)='hit3()'>View Review/Rating</button>
        <p>Rating : {{tempAvg3}}</p>
        <p>Review : {{tempList3}}</p>
    </div>
  </div>